<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.sy.springbootshardingsphere.mapper.OrderItemMapper">

    <select id="findAll" resultType="org.sy.springbootshardingsphere.entity.OrderItem">
        select * from order_item
    </select>

</mapper>